1) Print ineuron

In [3]:
n = 4
for i in range (n) :
    if i < 3:
        for j in range (0, i+1) :
            print ("Ineuron", end = "      ")
    elif i ==3 :
        for j in range (0, i) :
            print ("Ineuron", end = "      ")
    print ("\n")

Ineuron

Ineuron      Ineuron

Ineuron      Ineuron      Ineuron

Ineuron      Ineuron      Ineuron

2) Print ineuron

In [153]:
n = 5
for i in range (n) :
    if i == 1 or i == 5 :
            print ( " ", "  ", "Ineuron", end = "    ")
    elif i ==2 or i==4 :
            for j in range (0, i+1) : 

                print ( " ","Ineuron", end = "    ")
                print ("\n")

     Ineuron      Ineuron

  Ineuron

In [133]:
l = [[1,2,3,4] , (2,3,4,5,6 ) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,4,5]), { 'k1' : "sudh", "k2" : "ineuron", "k3" : "Kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

3) Try to extract all the list entity

In [2]:
l = [[1,2,3,4] , (2,3,4,5,6 ) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,4,5]), { 'k1' : "sudh", "k2" : "ineuron", "k3" : "Kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [11]:
for i in l :
        if type(i)==list:
            print (i)

[1, 2, 3, 4]
['ineuron', 'data science ']

4)Try to extract all the dict entity

In [12]:
for i in l :
        if type(i)==dict:
            print (i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}

4)Try to extract all the tuples entity

In [13]:
for i in l :
        if type(i)==tuple:
            print (i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

5) Try to extract all numerical data

In [31]:
for i in l:
    for j in i:
        if type(j) == int:
            print (j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
7

6) Summation of all the numeric data

In [28]:
ko=[]

for i in l:
    for j in i:
        if type(j)==int:
            ko.append(j)
sum(ko)

142

7) Filter out all the odd values out from numeric data which is the part of the list

l = [[1,2,3,4] , (2,3,4,5,6 ) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,4,5]), { 'k1' : "sudh", "k2" : "ineuron", "k3" : "Kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [61]:
for i in l:
    for j in i:
        if type(j) == int and j % 2 != 0 :
            print (j)

1
3
3
5
3
5
7
45
5
23
3
7

8) Extract Ineuron from the data

In [58]:
l = [[1,2,3,4] , (2,3,4,5,6 ) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,4,5]), { 'k1' : "sudh", "k2" : "ineuron", "k3" : "Kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
for i in l :
    for j in i :
        if j == "ineuron" :
            print (j)

ineuron

9) Number of occurance of all the data

In [67]:
for i in l :
        print (i, ":", l.count(i))

[1, 2, 3, 4] : 1
(2, 3, 4, 5, 6) : 1
(3, 4, 5, 6, 7) : 1
{45, 4, 5, 23} : 1
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8} : 1
['ineuron', 'data science '] : 1

10) Extract number of keys in dict element

In [77]:
for i in l :
    if type(i)== dict :
        print (i.keys())

dict_keys(['k1', 'k2', 'k3', 3, 7])

11) Filter out all the string data

In [78]:
for i in l :
    for j in i :
         if type (j) == str:
                print (j)

k1
k2
k3
ineuron
data science

12) Find out alphanum in data

In [50]:
po=[]

for i in l :
    for j in i :
        po.append(j)

In [54]:
mg=[]
for i in po:
    if type(i)==str:
        mg.append(i)

In [55]:
mg

['k1', 'k2', 'k3', 'ineuron', 'data science ']

In [58]:
for i in mg:
    if i.isalnum()==True:
        print(i)

k1
k2
k3
ineuron

13) Find out multiplication of all the numeric value in the individual collection dataset.

In [64]:
ET = []
for i in l:
    for j in i:
        if type (j) == int:
            ET.append(j)

In [65]:
ET

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7]

In [128]:
num = []
for ET in range (20):

TypeError: object of type 'int' has no len()

14)Unwrap all the collection.

In [121]:
l1=[]
for i in l :
    if type (l)==list or type (l)== tuple or type (l)== str or type (l)== set :
        l1.append(l)

In [118]:
print (l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'ineuron', 'data science ']